{% extends "base_generic.html" %}
<!-- Add additional CSS in static file -->
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

{% block title %}
    <title>My Local Library</title>
{% endblock %}
{% block content %}
    <img
    src="{% static 'images/4cdc54f92a440f10cf78a3f5e2ca2ad1.jpg' %}"
    alt="UML diagram"
    style="width:555px;height:540px;" />
    <h1>Local Library Home</h1>
  <p>
    Welcome to LocalLibrary, a website developed by
    <em>Mozilla Developer Network</em>!
    </p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Fiction books:</strong> {{ num_fiction_books }}</li>

    </ul>
{% endblock %}